# Base Spark
pyspark==3.5.3
delta-spark==3.2.1

# Data Analysis & Finance
pandas
numpy
yfinance
tradingview-screener
ta
plotly

# Web Framework
streamlit

# Utilities
python-dotenv
loguru
requests
lxml
aiohttp
pyarrow

# Data Validation & ML Tracking
mlflow
joblib
optuna
google-cloud-storage
dbt-duckdb
dbt-core
deltalake
